#soccerboy {
    width: 140px;
    height: 360px;
    float: left;
    border-color: greenyellow;
    border-style: solid;
  }

  #logonysl {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    float: left;
    border-color: blue;
    border-style: dashed;
  }